.fondo {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.payment-success {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 300px;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.58);
  margin: 30px auto 0 auto;
  border-radius: 3%;
  padding: 2rem 1.5rem;
}

.success-icon {
  margin-bottom: 34px;
}

.payment-success h1 {
  color: #4caf50;
  margin-bottom: 12px;
}

.payment-success p {
  margin-bottom: 1rem;
}

.btn-back {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.btn-back:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
