<header class="top-nav">
  <div class="nav-left">
    <img src="assets/img/logo_digitbus_color.svg" alt="DigitBus" class="logo" />
  </div>
  <nav class="nav-links">
    <a routerLink="/home" routerLinkActive="active-link">Inicio</a>
    <a routerLink="/historial" routerLinkActive="active-link">Historial</a>
    <a routerLink="/solicitudes" routerLinkActive="active-link">Solicitar</a>
    <a routerLink="/renovaciones" routerLinkActive="active-link">Renovar o Extravio</a>
    <a routerLink="/conocenos" routerLinkActive="active-link">Conócenos</a>
  </nav>
</header>
