/* You can add global styles to this file, and also import other style files */
/* body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image: url('./assets/img/fondoLogin.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
